// credit to https://github.com/JedWatson/react-select for many css patterns used here
$crane-select-arrow-color: #666;
$crane-select-clear-color: #666;
$crane-select-bg-color: #fff;
$crane-select-border-color: #ddd;
$crane-select-border-radius: 5px;
$crane-select-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
$crane-select-disabled-color: #f9f9f9;
$crane-select-focus-color: rgb(94, 158, 214);
$crane-select-height: 34px;
$crane-select-menu-max-height: 250px;
$crane-select-option-focus-bg-color: #e7eff7;
$crane-select-placeholder-color: #757575;
$crane-select-no-results-color: #757575;

.crane-select {
  position: relative;

  &.open {
    .crane-select-input > input {
      cursor: text;
    }

    .crane-select-input-group {
      border-bottom: 0;
      padding-bottom: 1px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .crane-select-arrow {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid $crane-select-arrow-color;
      border-top: 0;

      &:hover {
        border-bottom: 5px solid darken($crane-select-arrow-color, 25%);
      }
    }
  }

  &.focus:not(.open) {
    .crane-select-input-group {
      border: 1px solid $crane-select-focus-color;
      box-shadow: $crane-select-box-shadow;
    }

    &.outer-focus .crane-select-input > input {
      opacity: 0;
    }
  }

   // handle disabled state
	&.disabled {
		.crane-select-arrow-container {
			cursor: default;
			pointer-events: none;
			opacity: 0.35;
		}

		.crane-select-input-group {
			background-color: $crane-select-disabled-color;
      user-select: none;
			&:hover {
				box-shadow: none;
      }
		}
	}
}

.crane-select-input-group {
  border: 1px solid $crane-select-border-color;
  border-radius: $crane-select-border-radius;
  background-color: $crane-select-bg-color;
  /* make table so arrow and clear button can vertically center */
  display: table;
  width: 100%;
  box-sizing: border-box;
}

.crane-select-value-group {
  /* make absolute so it appears under the arrow and clear button */
  position: absolute;
  top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: $crane-select-height;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.crane-select-group-header {
  font-weight: bold;
}

.crane-select-focus-placeholder,
.crane-select-input > input {
  height: ($crane-select-height - 2);
  display: inline-block;
  vertical-align: middle;
  outline: none;
}

.crane-select-input > input {
  width: 100%;
  border: 0;
  box-sizing: border-box;
  border-radius: $crane-select-border-radius;
  padding: 0 5px 0 10px;
  background: none transparent;
  box-shadow: none;
  cursor: default;
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

.crane-select-focus-placeholder {
  border: 0;
  width: 1px;
  background: none;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.crane-select-loading-container {
  /* make table-cell so it can vertically center */
  display: table-cell;
  cursor: pointer;
  width: 20px;
  text-align: center;
  vertical-align: middle;
}

/* credit to https://projects.lukehaas.me/css-loaders/ */
.crane-select-loading {
  font-size: 1px;
  margin: 10px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #444;
  background: linear-gradient(to right, #444 10%, rgba(0,0,0, 0) 42%);
  position: relative;
  animation: spinner 1.4s infinite linear;
  transform: translateZ(0);

  &:before {
    width: 50%;
    height: 50%;
    background: #444;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  &:after {
    background: #fff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.crane-select-menu-container {
  border-bottom-left-radius: $crane-select-border-radius;
  border-bottom-right-radius: $crane-select-border-radius;
	border: 1px solid $crane-select-border-color;
	max-height: $crane-select-menu-max-height;
	position: absolute;
	top: 100%;
	width: 100%;
  z-index: 9000;
  box-sizing: border-box;
  background-color: $crane-select-bg-color;
}

.crane-select-menu {
	max-height: $crane-select-menu-max-height - 2px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.crane-select-option {
  padding: 10px;
  vertical-align: middle;

  &.focused {
    background: $crane-select-option-focus-bg-color;
    outline: none;
  }
}

.crane-select-placeholder {
  color: $crane-select-placeholder-color;
}

.crane-select-arrow-container {
  /* make table-cell so it can vertically center */
  display: table-cell;
  cursor: pointer;
  width: 20px;
  text-align: center;
  vertical-align: middle;
  padding-right: 5px;
  /* make relative to it is clickable over absolute-positioned value-group */
  position: relative;
}

// thanks https://css-tricks.com/snippets/css/css-triangle/
.crane-select-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $crane-select-arrow-color;
  display: inline-block;

  &:hover {
    border-top: 5px solid darken($crane-select-arrow-color, 25%);
  }
}

.crane-select-clear-container {
  /* make table-cell so it can vertically center */
  display: table-cell;
  cursor: pointer;
  width: 20px;
  text-align: center;
  vertical-align: middle;
  /* make relative to it is clickable over absolute-positioned value-group */
  position: relative;
}

.crane-select-clear {
  font-size: 18px;
  color: $crane-select-clear-color;

  &:hover {
    color: darken($crane-select-clear-color, 25%);
  }
}

.crane-select-empty-divider {
  border-top: 1px solid $crane-select-border-color;
}

.crane-select-static-divider {
  border-top: 1px solid $crane-select-border-color;
}

.crane-select-loading-text,
.crane-select-no-results {
  border: 1px solid $crane-select-border-color;
  border-bottom-left-radius: $crane-select-border-radius;
  border-bottom-right-radius: $crane-select-border-radius;
  padding: 10px;
  vertical-align: middle;
  color: $crane-select-no-results-color;
	position: absolute;
	top: 100%;
	width: 100%;
  z-index: 9000;
  box-sizing: border-box;
  background-color: $crane-select-bg-color;
}
