{
  "presets": ["@babel/preset-react", "@babel/preset-env"],
  "env": {
    "test": {
      "presets": [
        ["@babel/env", { "targets": { "node": "current" }}],
        "@babel/react"
      ]
    },
    "build": {
      "ignore": [
        "*.test.js"
      ]
    }
  }
}
